body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0; /* Light grey background */
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.App-header {
  width: 100%;
  padding: 20px 0; /* Increase padding for larger logo */
  display: flex;
  justify-content: center;
  background-color: #ccc; /* Darker grey */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo {
  max-height: 70px; /* Increase size of the logo */
}

.main-content {
  text-align: center;
  padding: 80px 20px 20px;
  margin-top: 80px; /* Adjust margin to account for fixed header */
}

.main-heading {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 10px;
  color: #000;
  text-shadow: 2px 2px #ddd;
  animation: fadeIn 2s ease-in-out;
}

.sub-heading {
  font-size: 1.7rem; /* Increased size */
  color: #444; /* Dark grey */
  margin-bottom: 30px;
  font-style: italic;
}

.contact-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  background-color: #ddd; /* Darker grey */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  position: relative;
  transition: transform 0.3s ease;
}

.contact-box:hover {
  transform: translateY(-5px);
}

.phone-number {
  font-size: 1.5rem;
  text-decoration: none;
  color: #333; /* Dark grey */
  transition: color 0.3s ease;
  cursor: pointer;
}

.phone-number:hover {
  color: #111;
}

.copy-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #777;
  transition: color 0.3s ease;
}

.copy-button:hover {
  color: #333;
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 2.5rem;
  }

  .sub-heading {
    font-size: 1.4rem;
  }

  .phone-number {
    font-size: 1.3rem;
  }

  .copy-button {
    font-size: 1.3rem;
  }
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-text {
  animation: fadeIn 1.5s ease-in-out;
}
